body{
    font-family: 'Roboto', "Times New Roman";
    color:white;
}

.first{
    background: url(../Images/background.jpg) no-repeat;
    background-size:cover;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
.first h1{
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
    margin-top: 177px;
}
.text{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    line-height: 30px;
    font-size: 14px;
    width: 1000px;
}
.first button{
    background-color: #7accc8;
    padding: 20px 72px;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
}
.first img{
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
}
.second{
    background: url('../Images/background2.jpg') no-repeat;
    background-size: cover;
    width: 100%;
}
.second p{
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 130px;
}
.second row{
    width: 800px;
}
.second button{
border: 3px solid white;
border-radius: 4px;
padding: 20px 70px;
font-size: 16px;
background-color: transparent;
margin-bottom: 150px;
margin-left: 130px;
}
.second h1{
    margin-top: 60px;
    margin-left: 130px;
    margin-bottom: 30px;
}

.third{
    background: url('../Images/background3.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.third img{
    width: 130px;
    height: 129px;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 70px;
    margin-bottom: 50px;
}
.third p{
    width: 55vw;
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 220px;
}
.forth{
    color: #928B8B;
    font-size: 14px;
    line-height: 20px;
}
.forth .column{
    border-right: 1px solid #D1C5C5;
    padding-right: 8vw;
}
.forth h2{
font-size: 15px;
margin-bottom: 30px;
font-variant: small-caps;
letter-spacing: 2px;
}
.forth .column2{
    padding-left: 8vw;
}
.forth .lorem{
    margin-top: 70px;
    margin-bottom: 65px;
    width: 42vw;
    color: #9197a8;
}
.demo{
    text-align: center;
    margin-bottom: 10vw;
}
.demo button{
    background-color: #f69679;
    padding: 10px 32px;
    color: white;
    border-style: none;
}

.square{
    width: 250px;
    height: 250px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.red{
    background-color: #f69679;
    padding-bottom: 0;
    margin-bottom: 0;
}
.orange{
    background-color: #e8b968;
}
.juice{
    margin-top: 0;
    width: 250px;
    font-size: 14px;
    color: grey;
    background-color: white;
    padding-bottom: 40px;
    border-bottom: 3px solid #eaeaea;
}
.fifth h2{
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.float{
float: left;
margin-top: 70px;
}

.fifth{
    background-color: #f6f6f4;
    width: 100%;
}
.flat{
    color: #abbcc3;
    margin-top: 55px;
}
.flat h1{
font-weight: 100;
}
.fifth .row{
    width: 85vw;
    margin-left: 10vw;
    margin-bottom: 40vh;
}
.juice p{
    padding-left: 15px;
    font-size: 14px;
    color: #9197a8;
}